:root {
    --primary-color: #2176AE;
    --secondary-color: #3B4856;
    --accent-color: #D6F4FF;
}

* {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background: url(/img/waves.svg) no-repeat center;
    background-size: cover;
}

.output {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 25px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 20px 20px 0 0;
}

.output .current-operand {
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: 600;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid var(--secondary-color);
    opacity: 0.8;
    outline: none;
    transition: all 0.3s ease 0s;
}

.calculator-grid > button:hover {
    opacity: 1;
    border: 2px solid var(--primary-color);
}

.imp-button {
    font-weight: 500;
}

.span-two {
    grid-column: span 2;
}